
coronavirus==1.1.0
covid==1.3.0

Django==2.1
django-appconf==1.0.3
django-froala-editor==2.9.5
django-mongokit==0.2.6
django-tables2==2.0.6
djangorestframework==3.11.0
djongo==1.2.38

fcntl
schedule
whitenoise
