{% extends 'base.html' %}

{%block content %}

{%load staticfiles %}



            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                    	  <div class="row">
                    	  	 <div class="col-xl-12 col-md-12">

                    	  	 <div class="text-center">
                    	  	 	<br><br>

                            

<p class="text-center " >With increasing fear of the pandemic Covid19, all we seek is humanity. This is an attempt to show you the real time scenarios as CovidConflict updates you with every minute detail from across the globe. Total cases reported, recovery rates to death rates, newborn cases to the countries following the best strategy to combat this. A detailed dynamic analysis of the CoronaVirus menace in a specific country is now available. 

Here is a small request we make to you. In times of need, compassion comes to our rescue. This was our small contribution and you can do your bit too for the community at large. Scan the code and help the ones who need our support the most. After cutting down the daily maintenance cost of this site, we contribute the rest of the fund to the Indian Government which will be used for combating this virus.

“If Not You, Who Else?”
― Terry Pratchett, Only You Can Save Mankind 
</p>
</div>

</div>

</div>

</div>
</main>

{% endblock %}